<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Wanakofi</title>
	
	  <script type="text/javascript">
	
		// CSS AND JS LIST OF ELEMENTS

    var v = '?v=1e'; 
		var serverHost = "http://powerful-ridge-1197.herokuapp.com"; // SERVER HOSTNAME (the front need to connect to this server / API)
		var clientHost = "http://vast-headland-2092.herokuapp.com"; // CLIENT HOSTNAME (this client hostname)
		
		var cssElements = [
		'css/bootstrap/bootstrap.min.css',
		'css/loading-bar/loading-bar.min.css',
		'css/animations.css'+v,
		'css/custom.css'+v,
		'js/ng/angular/angular-csp.css'
		]
		
		var jsElements = [
		serverHost+'/socket.io/socket.io.js',
		'js/jquery/jquery.min.js',
		'js/jquery/peity/jquery.peity.min.js',
		'js/ng/angular/angular.min.js',
		'js/ng/angular-route/angular-route.min.js',
		'js/ng/angular-animate/angular-animate.min.js',
		'js/ng/angular-sanitize/angular-sanitize.min.js',
		'js/ng/angular-resource/angular-resource.min.js',
		'js/ng/angular-cookies/angular-cookies.min.js',
		'js/ng/angular-socket-io/socket.min.js',
		'js/ng/loading-bar/loading-bar.min.js',
		'js/ng/peity/angular-peity.js',
		'js/ng/bootstrap-ui/ui-bootstrap-tpls-0.12.0.js',
		'js/ng/ui-utils/ui-utils.min.js',
		'js/bootstrap/bootstrap.min.js',
		'js/bootstrap/ie10-viewport-bug-workaround.js',
		'angular/app/app.js'+v,
		'angular/app/controllers/controllers.js'+v,
		'angular/app/filters/filters.js'+v,
		'angular/app/directives/directives.js'+v,
		'angular/app/resources/resources.js'+v,
		'angular/app/services/services.js'+v
		]
		
		function insertElements(list, type){
		    var listToInsert = '';
			if(type == 'CSS'){
				list.forEach(function(css){ 
					listToInsert += '<link rel="stylesheet" href="'+css+'" \/>'; 
				});
			}
			else if(type == 'JS'){
				list.forEach(function(js){ 
					listToInsert +=  '<script type="text\/javascript" src="'+js+'"><\/script>';
				});
			}
			document.write(listToInsert);
		}
		
		// insert all css tags
		insertElements(cssElements, 'CSS');

       
    </script>

  </head>

  <body ng-cloak>

  <div>
    <div ng-include="'angular/app/partials/inc/navigation.html'" ng-if="location.path() !== '/login'"></div>
  </div>

  <div class="container">

	   <div ng-view view-animations></div>

  </div> <!--/container -->
  
  <div ng-include="'angular/app/partials/inc/footer.html'" ng-if="location.path() !== '/login'"></div>

  <script>
  
  // insert all js tags
  insertElements(jsElements, 'JS');

  // Creepy code to display a message for lower versions of IE (OK for IE >= 9) 
  function getIEVersion() {
	    var ua = window.navigator.userAgent;
	    var msie = ua.indexOf('MSIE ');
	    var trident = ua.indexOf('Trident/');

	    if (msie > 0) {
	        // IE 10 or older => return version number
	        return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
	    }

	    if (trident > 0) {
	        var rv = ua.indexOf('rv:');
	        return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
	    }

	    // other browser
	    return false;
   }

  var versionIE = getIEVersion();
  if(versionIE && versionIE < 9) {
	  document.body.innerHTML = '<div style="left:50%; text-align:center;"><h2>Dude... your browser is too old, sorry.</h2></div>';
  }
  </script>

  </body>
</html>













