      <!-- Example row of columns -->
	  <div class="row">
		<div class="panel panel-warning">
			<div class="panel-heading" ng-click="indicateurCollapse = !indicateurCollapse" style="cursor:pointer;">
				<h3 class="panel-title"> Indicateurs <i ng-show="indicateurCollapse" class="indicator glyphicon glyphicon-chevron-down  pull-right"></i><i ng-show="!indicateurCollapse" class="indicator glyphicon glyphicon-chevron-up  pull-right"></i></h3>
			</div>
			
			<div collapse="indicateurCollapse">
	            <div class="panel-body">
	             
		            <span >Montant total de la part collective TRO CA Pro/part affectée</span>        
		            <span class="label label-default">2100,00 €</span>
		          
		            <span class="espaceGauche">Commissionnements à saisir pour la période sélectionnée</span>
		            <span class="label label-default">{{indicateur.nbCommissionnementsASaisir}}</span>
	 
	                <div class="alert alert-danger" role="alert" ng-hide="isMessageVide()"> 
	                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{alerte.text}} 
	                </div>
	                
	            </div>
            </div>
			
		</div>
	  </div>
			
	  <div class="row">
	       <alert ng-repeat="erreur in erreurs" type="{{erreur.type}}" close="fermerErreur($index)">{{erreur.msg}}</alert>
	  </div>
		
      <div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"> Liste des commissionnements de l'établissement {{etablissement.libelle}} sur la période {{periode.libelle}}</h3>
			</div>

			<div class="panel-body" >
			   <p ng-show="commissionnements.length">
				<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
				<button type="button" class="btn" ng-class="{'btn-dark':filtreCom.getFiltre('type')=='ALL' , 'btn-default':filtreCom.getFiltre('type')!='ALL' } "  ng-click="filtrerPar('type','ALL')">Tous</button>
				<button type="button" class="btn" ng-class="{'btn-dark':filtreCom.getFiltre('type')=='GUI' , 'btn-default':filtreCom.getFiltre('type')!='GUI' } " ng-click="filtrerPar('type','GUI')"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Agents du guichet</button>
				<button type="button" class="btn" ng-class="{'btn-dark':filtreCom.getFiltre('type')=='FAC' , 'btn-default':filtreCom.getFiltre('type')!='FAC' }" ng-click="filtrerPar('type','FAC')"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Facteurs</button>
				<button type="button" class="btn" ng-class="{'btn-dark':filtreCom.getFiltre('type')=='GOC' , 'btn-default':filtreCom.getFiltre('type')!='GOC' }" ng-click="filtrerPar('type','GOC')"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Agents du guichet occasionnels</button>
				<!--  <button type="button" class="btn" ng-class="{'btn-dark':filtreCom.getFiltre('type')=='FGU' , 'btn-default':filtreCom.getFiltre('type')!='FGU' }" ng-click="filtrerPar('type','FGU')"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Facteurs Guichetiers</button> -->
			  </p>
				       
				
				<form class="form-inline" ng-show="commissionnements.length">
				<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
				
				  <div  class="form-group">
					<button type="button" class="btn" ng-class="{'btn-dark':filtreCom.getFiltre('statut_code')=='ALL' , 'btn-default':filtreCom.getFiltre('statut_code')!='ALL' }" ng-click="filtrerPar('statut_code','ALL')"  >Tous</button>
				  </div>
				  <div class="form-group">
					<button type="button" class="btn"  ng-class="{'btn-warning':filtreCom.getFiltre('statut_code')=='ASAISIR' , 'btn-default':filtreCom.getFiltre('statut_code')!='ASAISIR' } " ng-click="filtrerPar('statut_code','ASAISIR')">A saisir</button>
				  </div>
                  <div class="form-group">
                    <button type="button" class="btn"  ng-class="{'btn-pink':filtreCom.getFiltre('statut_code')=='VALIDE' , 'btn-default':filtreCom.getFiltre('statut_code')!='VALIDE' }" ng-click="filtrerPar('statut_code','VALIDE')">Validés</button>
                  </div>
                   <div class="form-group">
					<button type="button" class="btn"  ng-class="{'btn-primary':filtreCom.getFiltre('statut_code')=='ENVOYE' , 'btn-default':filtreCom.getFiltre('statut_code')!='ENVOYE' }" ng-click="filtrerPar('statut_code','ENVOYE')">Envoyés</button>
				  </div>
				  <div class="form-group">
					<button type="button" class="btn"  ng-class="{'btn-success':filtreCom.getFiltre('statut_code')=='PAYE' , 'btn-default':filtreCom.getFiltre('statut_code')!='PAYE' }" ng-click="filtrerPar('statut_code','PAYE')">Payés</button>
				  </div> 
				  <div class="form-group">
					<button type="button" class="btn"  ng-class="{'btn-danger':filtreCom.getFiltre('statut_code')=='REJETE' , 'btn-default':filtreCom.getFiltre('statut_code')!='REJETE' }" ng-click="filtrerPar('statut_code','REJETE')">Rejetés</button>
				  </div>
				  <div class="form-group">
                    <button type="button" class="btn"  ng-class="{'btn-info':filtreCom.getFiltre('statut_code')=='ANNULE' , 'btn-default':filtreCom.getFiltre('statut_code')!='ANNULE' }" ng-click="filtrerPar('statut_code','ANNULE')">Annulés</button>
                  </div>
                  <div class="form-group">
                    <button type="button" tooltip="Commissionnements en anomalie" tooltip-placement="top" tooltip-append-to-body="true" class="btn"  ng-class="{'btn-info':filtreCom.getFiltre('statut_code')=='ANOMALIE' , 'btn-default':filtreCom.getFiltre('statut_code')!='ANOMALIE' }" ng-click="filtrerPar('statut_code','ANOMALIE')"><span class='glyphicon glyphicon-exclamation-sign rouge' ></span></button>
                  </div>
                  
				  <div class="form-group">
					 <div class="input-group" tooltip="Permet de filtrer rapidement par ZM, Site ou tout autre critère en recherchant la chaîne saisie dans toutes les colonnes" tooltip-placement="top" tooltip-append-to-body="true"><div class="input-group-addon"><span class="clickable glyphicon glyphicon-remove" aria-hidden="true" ng-click=effacerRecherche()></span></div><input type="text" ng-model="query" class="form-control" placeholder="recherche rapide"><div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div></div>
				  </div>
				  <div class="form-group">
				      <a class="btn btn-dark" tooltip="Export de la liste des commissionnements au format CSV" tooltip-placement="top" tooltip-append-to-body="true" href="{{commissionnementsUrl}}" ><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> .csv</a>
				  </div>
				  <!-- ><div class="form-group">
                      <a class="btn btn-dark" tooltip="Imprimer la liste des commissionnements" tooltip-placement="top" tooltip-append-to-body="true"  print-div="#table_liste_commissionnements" ><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
                  </div>  -->
				   
				</form>
				
			<div id="table_liste_commissionnements">
				
			<table ng-show="commissionnements.length" name="listeCommissionnement" class="table .table-condensed espaceHaut"  >
            <thead >
              <tr>                
              
               <th name="IDRH">IDRH <a ng-click="trierCommissionnementPar('idrh',false)" > <span class="glyphicon glyphicon-chevron-up"  ng-class="{rouge: testerTri('idrh',false) }"  aria-hidden="true"></span></a>
                <a ng-click="trierCommissionnementPar('idrh',true)"><span class="glyphicon glyphicon-chevron-down" ng-class="{rouge: testerTri('idrh',true) }"  aria-hidden="true"></a></th> 
                
               <th name="Nom">Nom Prénom<a ng-click="trierCommissionnementPar('nom',false)" > <span class="glyphicon glyphicon-chevron-up"  ng-class="{rouge: testerTri('nom',false) }"  aria-hidden="true"></span></a>
                <a ng-click="trierCommissionnementPar('nom',true)"><span class="glyphicon glyphicon-chevron-down" ng-class="{rouge: testerTri('nom',true) }" aria-hidden="true"></a></th> 
                
               <th name="Type">Type <a ng-click="trierCommissionnementPar('type',false)" > <span class="glyphicon glyphicon-chevron-up"  ng-class="{rouge: testerTri('type',false) }"  aria-hidden="true"></span></a>
                <a ng-click="trierCommissionnementPar('type',true)"><span class="glyphicon glyphicon-chevron-down" ng-class="{rouge: testerTri('type',true) }" aria-hidden="true"></a></th> 
                
               <th name="ZM">ZM <a ng-click="trierCommissionnementPar('nom_zm',false)" > <span class="glyphicon glyphicon-chevron-up"  ng-class="{rouge: testerTri('nom_zm',false) }"  aria-hidden="true"></span></a>
                <a ng-click="trierCommissionnementPar('nom_zm',true)"><span class="glyphicon glyphicon-chevron-down" ng-class="{rouge: testerTri('nom_zm',true) }" aria-hidden="true"></a></th> 
                
                <th name="Site">Site <a ng-click="trierCommissionnementPar('nom_site',false)" > <span class="glyphicon glyphicon-chevron-up"  ng-class="{rouge: testerTri('nom_site',false) }"  aria-hidden="true"></span></a>
                <a ng-click="trierCommissionnementPar('nom_site',true)"><span class="glyphicon glyphicon-chevron-down" ng-class="{rouge: testerTri('nom_site',true) }" aria-hidden="true"></a></th> 
   
                <th name="DateValidation">Valid. <a ng-click="trierCommissionnementPar('date_validation',false)" > <span class="glyphicon glyphicon-chevron-up"  ng-class="{rouge: testerTri('date_validation',false) }"  aria-hidden="true"></span></a>
                <a ng-click="trierCommissionnementPar('date_validation',true)"><span class="glyphicon glyphicon-chevron-down" ng-class="{rouge: testerTri('date_validation',true)}" aria-hidden="true"></a></th> 
                
               <th name="DateEnvoiSIRH">Envoi<a ng-click="trierCommissionnementPar('date_envoi_sirh',false)" > <span class="glyphicon glyphicon-chevron-up"  ng-class="{rouge: testerTri('date_envoi_sirh',false) }"  aria-hidden="true"></span></a>
                <a ng-click="trierCommissionnementPar('date_envoi_sirh',true)"><span class="glyphicon glyphicon-chevron-down" ng-class="{rouge: testerTri('date_envoi_sirh',true)}" aria-hidden="true"></a></th> 
        
               <th name="Commission">Total <a ng-click="trierCommissionnementPar('commission',false)" > <span class="glyphicon glyphicon-chevron-up"  ng-class="{rouge: testerTri('commission',false) }"  aria-hidden="true"></span></a>
                <a ng-click="trierCommissionnementPar('commission',true)"><span class="glyphicon glyphicon-chevron-down" ng-class="{rouge: testerTri('commission',true) }" aria-hidden="true"></a></th> 
                
               <th name="Statut">Statut <a ng-click="trierCommissionnementPar('statut_code',false)" > <span class="glyphicon glyphicon-chevron-up"  ng-class="{rouge: testerTri('statut_code',false) }"  aria-hidden="true"></span></a>
                <a ng-click="trierCommissionnementPar('statut_code',true)"><span class="glyphicon glyphicon-chevron-down" ng-class="{rouge: testerTri('statut_code',true)}" aria-hidden="true"></a></th> 
 

              </tr>
            </thead>
            
            <tbody ng-controller="CommissionnementModalCtrl">
                
              <tr class="ligne_comm" ng-repeat="commissionnement in commissionnementsfiltre | filter:query | orderBy: champTri.value :champTri.sensCroissant track by commissionnement.id" class="commissionnement-listing clickable" ng-class="{               
               'ano':commissionnement.type=='INC'}" ng-click="ouvrir(commissionnement)">
               
                <td name="IDRH">{{commissionnement.idrh}}</td>
                <td name="Nom">{{commissionnement.nom+' '+commissionnement.prenom}}</td>
				<td name="Type">{{commissionnement.type}}</td>
				<td name="ZM" style="font-size:10px;">{{commissionnement.nom_zm.substr(0,20)}}</td>
				<td name="Site" style="font-size:10px;">{{commissionnement.nom_site.substr(0,20)}}</td>
                <td name="DateValidation" style="font-size:10px;">{{commissionnement.date_validation}}</td>
                <td name="DateEnvoiSIRH" style="font-size:10px;">{{commissionnement.date_envoi_sirh}}</td>
				<td name="Commission"><div class="prixAlignerDroite">{{commissionnement.commission | formaterMontantVirgule }}</div></td>
               <td name="Statut" ><span class="label" ng-show='commissionnement.statut_code!="ANOMALIE"' ng-class="{               
               'label-warning':commissionnement.statut_code=='ASAISIR',
               'label-primary':commissionnement.statut_code=='ENVOYE',
               'label-pink':commissionnement.statut_code=='VALIDE',
               'label-success':commissionnement.statut_code=='PAYE',
               'label-info':commissionnement.statut_code=='ANNULE',
               'label-danger':commissionnement.statut_code=='REJETE'} ">{{commissionnement.statut_libelle}}</span>
               <span ng-show='commissionnement.statut_code=="ANOMALIE"' tooltip="L'agent a réalisé des ventes Escale mais n'est pas présent dans RefCom ou est de niveau hiérarchique > 3" tooltip-placement="left" tooltip-append-to-body="true" class='glyphicon glyphicon-exclamation-sign rouge' ></span>
               
               </td>
               

              </tr>
				
            </tbody>
           
			</table>
			
			</div>
			
			<ol ng-show="(commissionnementsfiltre | filter:query ).length > 1" class="breadcrumb">
			  <li>{{(commissionnementsfiltre | filter:query ).length }} commissionnements sur cet établissement</li>
			</ol>
			
			<ol ng-show="(commissionnementsfiltre | filter:query ).length == 1" class="breadcrumb">
              <li>1 commissionnement sur cet établissement</li>
            </ol>
            
            <ol ng-show="commissionnements.length && (commissionnementsfiltre | filter:query ).length == 0" class="breadcrumb">
              <li>Aucun commissionnement avec les filtres sélectionnés.</li>
            </ol>
			
			<ol ng-hide="commissionnements.length" class="breadcrumb">
              <li>{{nbResultat}}</li>
            </ol>

			</div>
			
				
		</div>
		
      </div>
      
    <!--    <div calss="spacer">{{champTri|json}}</div>-->