<div class="container">

<div class="row fluid">

    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><span tooltip="{{fullUrl}}" tooltip-placement="top" class="glyphicon glyphicon-link" style="cursor:pointer;" aria-hidden="true"></span>&nbsp;<strong>#{{partage.room}}</strong> - {{numUsersLabel}}</h3>
        </div>
        <div class="panel-body">
                <div ng-repeat="mess in messages track by mess.moment" class="media msg">
                    <a class="pull-left" href="#">
                        <img class="media-object" alt="avatar" style="width: 32px; height: 32px; border-radius: 50%;" ng-src="{{mess.avatar}}">
                    </a>
                    <div class="media-body" style="border-bottom: 1px solid #eee;">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i></small>
                        <h5 class="media-heading" style="color:dodgerblue; font-size: 12px;"><img ng-src="{{clientHost}}/img/pr_{{mess.provider}}.png" /> {{mess.username}}</h5>
                        <small class="col-lg-10" style="word-break: break-all;" ng-bind-html="mess.message | parseMessage"></small>
                    </div>
                </div>

        </div>
    </div>

</div>




