<div class="row">
	<div class="col-lg-1 col-md-1 col-sm-2"><img src="img/coffee.png"></div>
	<div class="col-lg-11 col-md-11 col-sm-10"><h2>Wanakofi</h2></div>
</div>

	<div class="row text-center">

		<h3>Log in {{partage.city}}</h3>

			<a href="http://localhost:3000/auth/facebook"><img src="img/fb128.png" /></a>
			<a href="http://localhost:3000/auth/google"><img src="img/gp128.png" /></a>
			<a href="http://localhost:3000/auth/twitter"><img src="img/tw128.png" /></a>
	
	</div>
	
<hr>

<footer>
  <p>&copy; Wanakofi 2015</p>
</footer>


