<footer ng-controller="MessageCtrl" class="footer">
  <div class="container">

	<div ng-hide="partage.hideStuff" class="row">
	
		<div class="input-group">

			<input ng-model="message" ui-keypress="{13:'sendMessage()'}" type="text" id="chatInput" class="form-control">
			<div class="input-group-addon"></div>
			<button type="submit" class="btn btn-primary" ng-click="sendMessage()">send</button>&nbsp;
			<span class="btn btn-default btn-file">
    			<span class="glyphicon glyphicon-picture" aria-hidden="true"></span><input type="file" fileread="uploadme">
			</span>
			    
		</div>
	
	</div>
	
  </div>
</footer>