<footer ng-controller="MessageCtrl" class="footer">
  <div class="container">

	<div ng-hide="partage.hideStuff" class="row">
	
		<div class="input-group">
			<input ng-model="message" ui-keypress="{13:'sendMessage()'}" type="text" id="chatInput" class="form-control">
			<div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
			<button type="submit" class="btn btn-primary" ng-click="sendMessage()">send</button>
			<button type="submit" class="btn btn-primary">
				<input type="file" ng-model="chatImage" ng-change="sendImage()" class="smartFile">image
			</button>
			    </input>
		</div>
	
	</div>
	
  </div>
</footer>