<nav ng-controller="MenuCtrl" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/chat"><img src="./img/coffee_inverse.png" style="width:30px;" /></a>
          <a class="navbar-brand" href="#/chat">Wanakofi</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/chat" class="active">{{partage.username}}<span class="sr-only">(current)</span></a></li>
          </ul>

          <div ng-hide="partage.hideStuff" class="navbar-form navbar-left" role="search">
                      <button type="submit" ng-click="change()" class="btn btn-default">join another tag</button>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login" ng-click="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> log out</a></li>
          </ul>
        </div>
  </div>
</nav>