<nav class="navbar navbar-inverse">
  <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/chat"><img src="img/coffee_inverse.png" style="width:30px;" /></a>
          <a class="navbar-brand" href="#/chat">Wanakofi</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#" class="active">{{partage.username}}<span class="sr-only">(current)</span></a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login">Log off</a></li>
          </ul>
        </div>
  </div>
</nav>